<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="" defer></script>

</head>

<body class="bg-bglavender text-bgcharcoal">
    <header class="container mx-auto mt-10 px-6 text-center h-28">
        <a href="javascript:window.location.href=window.location.href"
            class="text-4xl h-20 w-48 mx-auto md:x-0 md:absolute top-10 left-10 underline decoration-pink-400/90">
            Allocator
        </a>
        <!-- logout button -->
        <div class="flex items-center justify-center space-x-4 mt-7 md:space-x-10 md:absolute top-12 right-10 md:mt-0">
            <a href="/logout"
                class="text-lg rounded-md cursor-pointer outline outline-offset-4 outline-2 outline-pink-400 hover:-translate-y-0.5 transition-all duration-150">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9" /></svg>
            </a>
        </div>
    </header>
    <!-- border to seperate -->
    <div class="w-full mt-4 border-b border-b-gray-100 md:mt-0"></div>
    <!-- dashboard heading -->
    <h1 class="mt-16 mx-16  text-3xl text-center md:text-left">
        <span class="underline decoration-yellow-200">
            My Admin Dashboard
        </span>
    </h1>
    <!-- dashboard content -->
    <div class="mt-16 mx-16 md:mt-28">
        <!-- card container -->
        <div class="grid gap-8 md:gap-48 md:grid-cols-1 ">
            <a href="#" class="bg-fuchsia-50 text-black p-24 space-y-1 shadow-2xl rounded-3xl md:p-40 flex items-center
                justify-center duration-300 hover:bg-fuchsia-200 hover:underline decoration-indigo-500 ">
                <h1 class="text-xl tracking-wider">
                    Class </h1>
                <span class="inline-block align-middle "></span>
            </a>
        </div>
    </div>
</body>

</html>