<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
</head>
<body>
    <h1 class="dash-h1">Allocator</h1>

    <div
        class="flex items-center justify-center space-x-4 md:space-x-10 md:absolute top-12 right-10"
      >
      <a
          href="/logout"
          class="text-lg hover:text-bgcharcoalhover hover:underline decoration-pink-400 dark:hover:text-bglavender"
          >Logout</a
        >
    </div>
    <img src="assets/pfp.png" class="dash-pfp">
    

    <div class="dash-NavBar">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="#">Group</a></li>
            <li><a href="#">Preference</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div>

    <Table class="yourGroupTable">
        <tr class="theader">
            <th style="width:400px">Your Group</th>
            <th style="width:300px"> Role</th>
        </tr>

        <tr class="tbody">
            <td>Jerry</td>
            <td>Front-end</td>
        </tr>
        <tr class="tbody">
            <td>Laquisha</td>
            <td>Front-end</td>
        </tr>
        <tr class="tbody">
            <td>Larry</td>
            <td>Back-end</td>
        </tr>
    </Table>
</body>
</html>