<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../stylesheets/style.css" />
        <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
        <title>Student Preferences</title>
        <script src="scripts/preference.js" defer></script>
    </head>
    <div>
        <h1>This is the student preference page</h1>
    </div>
    
    <body>
        <table class="yourPreferenceTable">
            <thead>
                <tr class="theader">
                    <th style="width:400px">Your Group</th>
                    <th style="width:300px"> Role</th>
                </tr>
            </thead>
            <tbody id="preference_table_body">

            </tbody>
        </table>
    </body>
</html>