<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <script src="../scripts/login.js"></script>
    <title>Register</title>
  </head>
  <body>
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">Register for an account</h3>
        <form action="/register" method="post">
            <div class="mt-4">
                <!-- ID -->
                <div>
                    <label class="block" for="id_num">University ID<label>
                        <input type="text" id="id_num" name="id_num" placeholder="Enter Your ID Number" required
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <!-- First Name -->
                <div>
                    <label class="block" for="first_name">First Name<label>
                        <input type="text" id="first_name" name="first_name" placeholder="Enter Your First Name" required
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <!-- Last Name -->
                <div>
                    <label class="block" for="last_name">Last Name<label>
                        <input type="text" id="last_name" name="last_name" placeholder="Enter Your Last Name" required
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <!-- Email -->
                <div>
                    <label class="block" for="email">Email<label>
                        <input type="email" id="email" name="email" placeholder="Enter Email" required
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <!-- Password -->
                <div>
                    <label class="block" for="password">Email<label>
                        <input type="password" id="password" name="password" placeholder="Enter password" required
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                
                
                <div class="flex items-baseline justify-between">
                    <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" type="submit">Sign Up</button>
                    <a href="#" class="text-sm text-blue-600 hover:underline">Already a user?</a>
                </div>
            </div>
        </form>
    </div>
</div>
  </body>
</html>
